
* {
	font-size: 14px;
	font-family: arial,sans-serif;
	color: #222;
}
.underline {
    text-decoration: none;
}

.topnav-right {
    float: right;
  }
  
.topnav-left {
    float: left;
}

#logo {
    text-align: center;
    margin-top: 9em;
}
  
.topnav-left > a{
text-decoration: none;
} 

.topnav-right > a {
    text-decoration: none;
}


.left {
    padding-left: 1em;
    padding-top: .5em;
   }
  
.right > a {
    text-decoration: none;
}

#logo {
    margin: 15em;
}


.search-input {
   height: 3em;
   border-color: #ddd;
   border-style: solid;
   border-left-style: hidden;
   border-right-style: hidden;   
   border-width: .5px;
}



.search-flex {
    display: flex;
   
    justify-content: center;
}

